@use "./variables" as *;

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes waverotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg) translateY(-15px);
  }
  100% {
    transform: rotate(0deg);
  }
}
