@use "include-media";
@use "glightbox/dist/css/glightbox.css";
@use 'swiper/css/bundle';

@use "fonts";
@use "normalize";
@use "variables" as *;
@use "typography";
@use "animations";

@use "layout/footer.scss";
@use "layout/header.scss";
@use "layout/HeaderImage.scss";

@use "layout/TextImageElement.scss";
@use "layout/TextElement.scss";
@use "layout/HeaderElement.scss";
@use "layout/ProjectsElement.scss";
@use "layout/ProjectDetails.scss";
@use "layout/TeamOverview.scss";
@use "layout/TeamDetails.scss";
@use "layout/PersonOverview.scss";
@use "layout/PersonDetails.scss";

body{
    background-color: var(--ColorSand);
}

.section {
    max-width: var(--MaxWidth);
    margin: 50px auto;
}

.section_content{
    max-width: var(--MaxWidthContent);
    margin: 0 auto;

    @include media(max-desktop) {
        padding: 0 20px;
    }
}

a{
    &.link--button{
        margin: 20px 0;
        display: inline-block;
        padding: 10px 40px 10px 20px;
        border: 1px solid var(--ColorWater);
        color: var(--ColorWater);
        position: relative;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        border-radius: 20px;

        &:after {
            content: "";
            position: absolute;
            background: rgb(250,47,51);
            background: linear-gradient(145deg, rgba(250,47,51,1) 0%, rgba(151,6,107,1) 100%);
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: -1;
            transition: clip-path 0.09s ease-in;
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            border-radius: 20px;
        }

        &:before{
            content: "";
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            width: 13px;
            height: 13px;
            border-top: 2px solid var(--ColorWater);
            border-right: 2px solid var(--ColorWater);
        }

        &:hover {
            color: var(--ColorWhite);
            border-color: var(--ColorWhite);

            &:after {
                top: 0;
                clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            }

            &:before{
                border-top: 2px solid var(--ColorWhite);
                border-right: 2px solid var(--ColorWhite);
            }
        }

        @include media(max-smartphone) {
            width: 100%;
        }
    }
}


.swiper{
    .swiper-button-next{
        &::after{
            color: var(--ColorWhite);
        }
    }

    .swiper-button-prev{
        &::after{
            color: var(--ColorWhite);
        }
    }
}

.social_link{
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: var(--ColorWater);
    mask-size: 100% 100%;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    margin: 10px;

    &:hover{
        transform: scale(1.1);
    }
}
