$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 580px,
  'medium': 700px,
  'desktop': 1200px
);

$ColorPrimary: #b38007;
$ColorSecondary: #000000;
$ColorSand: #DDC3B2;
$ColorWater: #284157;

$ColorBlack: #131F42;
$ColorWhite: #FFF;
