$maxWidth: 1000px;
$maxWidthContent: 1000px;

$borderRadius: 20px;

$breakpoints: (
  'smartphone': 580px,
  'medium': 700px,
  'desktop': 1200px,
  'maxWidth': $maxWidth
);

$ColorPrimary: #b38007;
$ColorSecondary: #000000;
$ColorGray: #252429;
$ColorDarkGray: #19181b;
$ColorWater: #284157;

$ColorBlack: #0a0a0a;
$ColorWhite: #FFF;
$ColorWhiteTrans: #ffffff79;

$ColorFont: $ColorWhite;
