@use "../variables" as *;

.section.section--ComingSoon{
    max-width: 100%;
    margin: 0;
    height: 100vh;
    position: relative;
    background-image: url("./../../icons/topography.png");
        background-blend-mode: lighten;

    .section_graphic {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
    }

    .section_content{
        max-width: 100%;
        height: 100%;
        margin: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        .section_info{
            display: flex;
            width: 100%;
            max-width: 500px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(15px);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

            h1, h2, h3 {
                text-align: center;
            }

            h1{
                font-size: 24px;
            }

            h2{
                font-size: 20px;
                max-width: 80%;
            }

            .section_logo{
                max-width: 200px;
            }

            .section_text{
                font-size: 13px;
            }
        }
    }
}
