.header {
    overflow: visible;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    position: relative;
    filter: none;
    background: $ColorSand;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, rgba(0,0,0,.5) 100%);
    z-index: 2;

    .header_nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;

        .nav_brand{
            height: 100%;
            width: 10%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @include media("<=medium") {
                width: auto;
                height: 50px;
            }
        }

        .nav_menu{
            width: 45%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .nav_link {
                position: relative;
                text-decoration: none;
                display: inline-block;
                margin: 10px 10px;
                padding: 10px 30px;
                color: $ColorWhite;
                font-size: 17px;
                line-height: 20px;
                text-align: center;
                border: 1px solid transparent;
                transition: border 0.2s ease-in-out;
                text-transform: uppercase;
                border-radius: 20px;

                &:before {
                    content: "";
                    position: absolute;
                    background: rgb(250,47,51);
                    background: linear-gradient(145deg, rgba(250,47,51,1) 0%, rgba(151,6,107,1) 100%);
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    z-index: -1;
                    transition: clip-path 0.09s ease-in;
                    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                    border-radius: 20px;
                }

                &:hover {
                    border: 1px solid $ColorWhite;

                    &:before {
                        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
                    }
                }

                &:active {
                    border: 1px solid $ColorWhite;
                }

                &:focus {
                    border: 1px solid $ColorWhite;
                }

                &.nav_link--active {
                    border: 1px solid $ColorWhite;
                }
            }

            &.right{
                justify-content: flex-start;
            }

            &.left{
                justify-content: flex-end;
            }
        }

        .nav_button{
            display: none;
            position: absolute;
            top: 20px;
            right: 60px;
            transition: right 0.2s ease-in-out;

            @include media("<=medium") {
                display: inline-block;
                width: 50px;
                height: 50px;
                cursor: pointer;

                .bar1, .bar2, .bar3, .bar4 {
                    width: 35px;
                    height: 2px;
                    background-color: $ColorWhite;
                    transition: 0.4s;
                    position: absolute;
                    box-shadow: 0 0 7px 0 rgba(0,0,0,0.8);
                }

                .bar1{
                    top: 6px;
                    .body--show & {
                    opacity: 0;
                    }
                }

                .bar2{
                    top: 18px;
                    .body--show & {
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(45deg);
                    }
                }

                .bar3{
                    opacity: 0;
                    top: 18px;
                    .body--show &{
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(-45deg);
                    }
                }

                .bar4{
                    top: 30px;
                    .body--show &{
                        opacity: 0;
                    }
                }
            }

            .body--show &{
                right: 50%;
                transform: translateX(50%);
            }
        }

        @include media("<=medium") {
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            max-height: 75px;
            overflow: hidden;
            transition: max-height 0.2s ease-in-out;

            .nav_brand{
                position: absolute;
                right: 10px;
                top: 15px;
                order: 1;
            }

            .nav_menu{
                order: 2;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: $ColorWater;
                transition: opacity 0.2s ease-in-out;
                opacity: 0;
                pointer-events: none;

                .nav_link {
                    width: 80%;
                }

                &:first-of-type{
                    padding-top: 75px;
                }

                &:last-of-type{
                    padding-bottom: 75px;
                }
            }

            .body--show & {
                opacity: 1;
                max-height: 3000px;

                .nav_menu{
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }

    @include media("<=medium") {
        padding: 0px 10px;
    }
}
