.header {
    overflow: visible;
    background-color: transparent;
    width: 100%;
    height: 60px;
    padding: 10px;
    position: relative;
    background: $ColorGray;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
    z-index: 2;

    .header_nav{
        display: flex;
        height: 100%;
        max-width: $maxWidth;
        margin: 0 auto;
        align-items: center;
        position: relative;

        .nav_brand{
            height: 100%;
            display: flex;

            img {
                height: 100%;
            }
        }

        .nav_title{
            margin: 0 20px;
        }

        .nav_menu{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: absolute;
            top: 50px;
            right: 0px;
            flex-direction: column;
            backdrop-filter: blur(10px);
            border-radius: 0 0 $borderRadius $borderRadius;
            max-height: 0px;
            overflow: hidden;
            opacity: 0;
            transition: max-height 0.2s ease-in-out;
            padding: 0px;
            padding-bottom: 20px;

            .nav_link {
                position: relative;
                text-decoration: none;
                display: inline-block;
                padding: 15px 25px;
                color: $ColorWhite;
                text-align: right;
                transition: 0.2s ease-in-out;
                text-transform: uppercase;
                border-right: 5px solid transparent;
                width: 100%;

                &:hover {
                    border-right: 5px solid $ColorFont;
                    background-color: $ColorWhiteTrans;

                    &:before {
                        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
                    }
                }

                &:active {
                    border-right: 5px solid $ColorFont;
                    background-color: $ColorWhiteTrans;
                }

                &:focus {
                    border-right: 5px solid $ColorFont;
                }

                &.nav_link--active {
                    border-right: 5px solid $ColorFont;
                    background-color: $ColorWhiteTrans;
                }
            }

            &.right{
                justify-content: flex-start;
            }

            &.left{
                justify-content: flex-end;
            }

            .body--show &{
                max-height: 400px;
                opacity: 1;
            }
        }

        .nav_button{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 45px;
            height: 45px;
            transition: 0.2s ease-in-out;
            display: inline-block;
            cursor: pointer;

            .bar1, .bar2, .bar3, .bar4 {
                width: 35px;
                height: 2px;
                background-color: $ColorWhite;
                transition: 0.4s;
                position: absolute;
                box-shadow: 0 0 7px 0 rgba(0,0,0,0.8);
            }

            .bar1{
                top: 6px;
                .body--show & {
                opacity: 0;
                }
            }

            .bar2{
                top: 18px;
                .body--show & {
                opacity: 1;
                transform-origin: center;
                transform: rotate(45deg);
                }
            }

            .bar3{
                opacity: 0;
                top: 18px;
                .body--show &{
                opacity: 1;
                transform-origin: center;
                transform: rotate(-45deg);
                }
            }

            .bar4{
                top: 30px;
                .body--show &{
                    opacity: 0;
                }
            }
        }
    }

    @include media("<=medium") {
        padding: 0px 10px;
    }
}

.section.section--headerbanner{
    width: 100%;
    margin-top: 0;
    max-width: none;
    height: 200px;

    .section_content{
        max-width: none;
        padding: 0;
        height: 200px;
        position: relative;

        .section_content_image{
            height: 100%;
            overflow: hidden;
            position: relative;
            z-index: -1;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .section_content_title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
