.section.section--HeaderImage{
    max-width: none;
    margin-top: -120px;
    z-index: -1;
    position: relative;
    padding: 0;
    overflow: hidden;

    .section_image{

        img{
            width: 100%;
            height: auto;

            @include media("<=medium") {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        @include media("<=medium") {
            height: 100px;
            width: 100%;
        }
    }

    @include media("<=medium") {
        margin-top: 0;
    }
}
