@use "../variables" as *;

.section.section--ProjectDetails{
    margin-top: -120px;
    z-index: 1;
    position: relative;
    padding: 0;
    overflow: hidden;

    .section_image{
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    border-radius: 20px;
                    overflow: hidden;

                    a{
                        display: block;
                        height: 400px;
                        width: 100%;
                        img{
                            display: block;
                            height: 100%;
                            width: 100%;
                            max-width: 100%;
                            object-fit: cover;
                        }

                        @include media(max-desktop) {
                            height: 350px;
                        }

                        @include media(max-medium) {
                            height: 250px;
                        }

                        @include media(max-smartphone) {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }

    .section_content{
        margin-top: 40px;
    }

    @include media(max-medium) {
        margin-top: 0;
    }
}
