.section.section--ProjectsElement{
    .section_content{
        .section_text{
            text-align: center;

            .section_title{
                margin: 0;
            }

            .section_description{
                margin-bottom: 40px;
            }
        }

        .state_title{
            margin-top: 30px;
            margin-bottom: -10px;
            position: relative;
            display: block;
        }

        .time_title{
            margin: 10px 0;
            position: relative;
            display: block;
        }

        .section_projectlist{
            display: grid;
            grid-template-columns: repeat(3, calc(100% / 3));
            margin: -10px;
            justify-content: center;

            .projectitem_wrap{
                padding: 10px;

                .projectitem{
                    background-color: $ColorWater;
                    overflow: hidden;
                    aspect-ratio: 1/1;
                    position: relative;
                    border-radius: 20px;
                    overflow: hidden;

                    .projectitem_teams{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        padding-top: 8px;
                        padding-left: 10px;
                        display: flex;
                        z-index: 2;
                        transform: translateY(-60px);
                        transition: transform 0.3s ease-in-out;

                        background: rgba(0, 0, 0, 0.5);
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 100%);

                        .projectitem_team{
                            height: 48px;
                            width: 48px;
                            padding: 2px;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        @include media("<=smartphone") {
                            transform: translateY(0);
                        }
                    }

                    .projectitem_image{
                        position: absolute;
                        top: -20px;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0.8;
                        transform: translateY(20px) scale(1.05);
                        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        @include media("<=smartphone") {
                            opacity: 1;
                        }
                    }

                    .projectitem_text{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        padding: 80px 20px 20px 20px;
                        color: $ColorWhite;
                        background: rgba(0, 0, 0, 0.5);
                        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);

                        .projectitem_date{
                            margin: 0;
                            color: inherit;
                        }

                        .projectitem_title{
                            margin: 0;
                            color: inherit;
                        }
                    }

                    &:hover{
                        .projectitem_teams{
                            transform: translateY(0px);
                        }

                        .projectitem_image{
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }

            @include media("<=medium") {
                grid-template-columns: repeat(2, calc(100% / 2));
            }

            @include media("<=smartphone") {
                grid-template-columns: repeat(1, calc(100% / 1));
            }
        }
    }
}
