.section.section--waveitems{
    .section_content{
        .section_content_assets{
            display: flex;
            flex-wrap: wrap;
            margin: -20px;
            margin-top: 10px;
        }

        .section_content_pagination{
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 40px;
            a{
                color: $ColorWhite;
                text-decoration: none;
                padding: 10px 20px;
                background-color: $ColorBlack;
                border-radius: $borderRadius;
                transition: 0.3s ease-in-out;
                opacity: 0.5;
                cursor: default;

                &.active{
                    opacity: 1;
                    cursor: pointer;
                    &:hover{
                        background-color: $ColorGray;
                    }
                }
            }
        }
    }
}

.asset_card{
    width: calc(100% / 2);
    padding: 10px;

    .asset_card_wrap{
        background-color: $ColorDarkGray;
        display: flex;
        border-radius: $borderRadius;

        .asset_card_image{
            width: 50%;
            aspect-ratio: 1 / 1;
            display: block;

            .model-viewer{
                width: 100%;
                height: 100%;
            }
        }

        .asset_card_content{
            width: 50%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
        }
    }

    @include media("<=medium"){
        width: 100%;

        .asset_card_wrap{
            .asset_card_image{
                width: 30%;
                aspect-ratio: 2/1;
            }
        }
    }
}

.asset_card_button {
    background-color: $ColorBlack;
    color: $ColorWhite;
    border-radius: $borderRadius;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
    display: inline-block;

    &:hover{
        background-color: $ColorGray;
    }
}

.section.section--wavesasset{
    width: 100%;
    .section_content{
        width: 100%;
        margin-top: -40px;
        position: relative;

        .section_backbutton{
            position: absolute;
            top: 20px;

            .asset_card_button{
                background-color: $ColorDarkGray;
                color: $ColorWhite;
                border-radius: $borderRadius;
                padding: 10px 20px;
                transition: 0.3s ease-in-out;
                display: inline-block;

                &:hover{
                    background-color: $ColorBlack;
                }
            }
        }

        .section_model{
            width: 100%;
            aspect-ratio: 16 / 10;
            display: block;
            z-index: -1;


            .model-viewer{
                width: 100%;
                height: 100%;
                z-index: -1;
            }

            @include media("<=medium"){
                aspect-ratio: 1 / 1;
            }
        }

        .section_text{
            background-color: $ColorDarkGray;
            padding: 20px;
            border-radius: $borderRadius;
            margin-top: -50px;
            z-index: 1000;
            position: relative;

            .section_text_title{
                margin-bottom: 20px;
            }

            @include media("<=medium"){
                max-width: 90%;
                margin: 0 auto;
            }
        }

        @include media("<=medium"){
            padding: 0px;
        }
    }
}
